#####
# Year <year>, Day <displayday>, Part <displaypart>
#

import sys
sys.path += './AdventOfCode/Common/Python'
import Common.Python.utils.solve_wrapper as solver

def prepare_data(input_file: str) -> any:
    with open(input_file) as file:
        input_values = file.read()
        return input_values

def get_result(input: any) -> str:
    pass

if __name__ == '__main__':
    solver.run(sys.argv[1], prepare_data, get_result)
