#####
# Year <year>, Day <displayday>, Part <displaypart>
#

import sys

def prepare_data(input_file: str) -> any:
    with open(input_file) as file:
        input_values = file.read()
        return input_values

def get_result(input: any) -> str:
    pass

if __name__ == '__main__':
    input_file = sys.argv[1]
    input_values = prepare_data(input_file)
    print(get_result(input_values))
