using System.Collections.Generic;

namespace AdventOfCode.Puzzles.Year_<year>.Day_<displayday>;

public class Part_<displaypart> : Day_<displayday>
{
    public override int Part => <part>;

	public override string ResultMessage => "";

	public override void PrepareData(List<string> input)
	{

	}

	public override string GetResult()
	{
		return "";
	}
}